h1
{
         text-shadow: 2px 2px #000000;
	     font-family: sans-serif;
         color:#FFA500;
		 text-align: center;
}
h2
{       
        text-shadow: 2px 2px #000000;
        font-family: sans-serif;
        color:#FFA500 
               
}
body 
{       
        text-align: center;    
        background-color: #696969;
        font-family: arial;
        color:#FFA500
        
}

#colors 
{
	color:#0022FF;
}
#fonts
{
	font-family: arial;
}


